### Reading data in Pandas

In [1]:
import pandas as pd

In [2]:
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

In [3]:
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

In [4]:
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [5]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   5.1          149 non-null    float64
 1   3.5          149 non-null    float64
 2   1.4          149 non-null    float64
 3   0.2          149 non-null    float64
 4   Iris-setosa  149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [6]:
df = iris.copy()

In [7]:
df.tail()

     5.1  3.5  1.4  0.2     Iris-setosa
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

In [8]:
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header = None)
iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [9]:
iris.columns

Index([0, 1, 2, 3, 4], dtype='int64')

### Pandas Data Manipulations 1

In [10]:
df.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [11]:
# Changing the column names
df.columns = ['Sl', 'Sw', 'Pl', 'Pw', 'Flower_type']

In [12]:
df.columns

Index(['Sl', 'Sw', 'Pl', 'Pw', 'Flower_type'], dtype='object')

In [13]:
df.sample(5)

      Sl   Sw   Pl   Pw     Flower_type
30   5.4  3.4  1.5  0.4     Iris-setosa
142  6.8  3.2  5.9  2.3  Iris-virginica
132  6.3  2.8  5.1  1.5  Iris-virginica
110  6.4  2.7  5.3  1.9  Iris-virginica
20   5.1  3.7  1.5  0.4     Iris-setosa

In [14]:
df.shape

(149, 5)

In [15]:
df.dtypes

Sl             float64
Sw             float64
Pl             float64
Pw             float64
Flower_type     object
dtype: object

In [16]:
# describe
df.describe()

               Sl          Sw          Pl          Pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [17]:
df.describe(include='all')

                Sl          Sw          Pl          Pw      Flower_type
count   149.000000  149.000000  149.000000  149.000000              149
unique         NaN         NaN         NaN         NaN                3
top            NaN         NaN         NaN         NaN  Iris-versicolor
freq           NaN         NaN         NaN         NaN               50
mean      5.848322    3.051007    3.774497    1.205369              NaN
std       0.828594    0.433499    1.759651    0.761292              NaN
min       4.300000    2.000000    1.000000    0.100000              NaN
25%       5.100000    2.800000    1.600000    0.300000              NaN
50%       5.800000    3.000000    4.400000    1.300000              NaN
75%       6.400000    3.300000    5.100000    1.800000              NaN
max       7.900000    4.400000    6.900000    2.500000              NaN

### Pandas Data Manipulation 2

In [18]:
df['Sl']

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: Sl, Length: 149, dtype: float64

In [19]:
df.Sl

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: Sl, Length: 149, dtype: float64

In [20]:
df.Sl.describe()

count    149.000000
mean       5.848322
std        0.828594
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: Sl, dtype: float64

In [21]:
df['Sl'].describe()

count    149.000000
mean       5.848322
std        0.828594
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: Sl, dtype: float64

In [22]:
df.isnull()

        Sl     Sw     Pl     Pw  Flower_type
0    False  False  False  False        False
1    False  False  False  False        False
2    False  False  False  False        False
3    False  False  False  False        False
4    False  False  False  False        False
..     ...    ...    ...    ...          ...
144  False  False  False  False        False
145  False  False  False  False        False
146  False  False  False  False        False
147  False  False  False  False        False
148  False  False  False  False        False

[149 rows x 5 columns]

In [23]:
df.isnull().sum()

Sl             0
Sw             0
Pl             0
Pw             0
Flower_type    0
dtype: int64

In [24]:
# iloc
df.iloc[:4, :]

    Sl   Sw   Pl   Pw  Flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa

In [25]:
df.iloc[:4, :2]

    Sl   Sw
0  4.9  3.0
1  4.7  3.2
2  4.6  3.1
3  5.0  3.6

In [26]:
df.iloc[2:9, :1:2]

    Sl
2  4.6
3  5.0
4  5.4
5  4.6
6  5.0
7  4.4
8  4.9

### Pandas Data Manipulation 3

In [27]:
df

      Sl   Sw   Pl   Pw     Flower_type
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [28]:
df.drop(0, inplace=True)

In [29]:
df.head()

    Sl   Sw   Pl   Pw  Flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

In [30]:
df.index[0]

1

In [31]:
df.iloc[0]

Sl                     4.7
Sw                     3.2
Pl                     1.3
Pw                     0.2
Flower_type    Iris-setosa
Name: 1, dtype: object

In [32]:
df.loc[2]

Sl                     4.6
Sw                     3.1
Pl                     1.5
Pw                     0.2
Flower_type    Iris-setosa
Name: 2, dtype: object

In [33]:
df.loc[0] = [1, 2, 3, 4, 'iris-setosa']
df.tail()

      Sl   Sw   Pl   Pw     Flower_type
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica
0    1.0  2.0  3.0  4.0     iris-setosa

In [34]:
df.head()

    Sl   Sw   Pl   Pw  Flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

In [38]:
df.drop('Sl', axis = 1, inplace= True)

In [39]:
df.head()

    Sw   Pl   Pw  Flower_type
1  3.2  1.3  0.2  Iris-setosa
2  3.1  1.5  0.2  Iris-setosa
3  3.6  1.4  0.2  Iris-setosa
4  3.9  1.7  0.4  Iris-setosa
5  3.4  1.4  0.3  Iris-setosa

In [40]:
df['Diff_pl_pw']=df['Pl']-df['Pw']
df.head()

    Sw   Pl   Pw  Flower_type  Diff_pl_pw
1  3.2  1.3  0.2  Iris-setosa         1.1
2  3.1  1.5  0.2  Iris-setosa         1.3
3  3.6  1.4  0.2  Iris-setosa         1.2
4  3.9  1.7  0.4  Iris-setosa         1.3
5  3.4  1.4  0.3  Iris-setosa         1.1

In [41]:
df = iris.copy()

In [42]:
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa